<form action="/prehistoric_creatures/<%=creatureId%>/?_method=PUT" method="POST">
    <div>
        <label for="creatureType">Type:</label>
        <input type="text" name="type" id="creatureType" value="<%=creature.type%>">

    </div>

   <div>
       <label for="creatureUrl">Url: </label>
       <input type="text" name="img_url" id="creatureUrl"  value="<%=creature.img_url%>">
       
   </div>

    <button type="submit">Update this creature</button>
</form>