
<form action="/prehistoric_creatures" method="get">
    <label for="nameFilter">Filter by Name: </label>
    <input type="text" name="nameFilter" id="nameFilter">
    <button type="submit">Filter Results</button>
</form>





<ul>
    <% myCreatures.forEach((creature,i)=>{%>
        <li><%= creature.type %>
            <form action="/prehistoric_creatures/<%= i %>/?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
        <img src = "<%= creature.img_url %>" width="200">

    <% })%>

</ul>

