<form action="/prehistoric_creatures" method="post">
    <div>
        <label for="creatureType">Type:</label>
        <input type="text" name="type" id="creatureType">

    </div>

   <div>
       <label for="creatureUrl">Url: </label>
       <input type="text" name="img_url" id="creatureUrl">
       
   </div>

    <button type="submit">Add a new creature</button>
</form>