<form action="/dinosaurs" method="post">
    <div>
        <label for="dinosaurType">Type:</label>
        <input type="text" name="type" id="dinosaurType">

    </div>

   <div>
       <label for="dinosaurName">Name:</label>
       <input type="text" name="name" id="dinosaurName">
       
   </div>

    <button type="submit">Add a new dino</button>
</form>