<form action="/dinosaurs" method="get">
    <label for="nameFilter">Filter by Name: </label>
    <input type="text" name="nameFilter" id="nameFilter">
    <button type="submit">Filter Results</button>
</form>


<ul>
    <% myDinos.forEach((dino,i)=>{%>
        <li><%= dino.name %> is a <%= dino.type %> 
            <form action="/dinosaurs/<%= i %>/?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
   <% })%>
</ul>